
body{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Carattere', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
